<!DOCTYPE html>
<html lang="en">
<head>
  <script data-ad-client="ca-pub-9282336401229185" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>  
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>title</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://pro.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
    <link href="https://startbootstrap.github.io/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
</head>

<body class="bg-dark" id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <hr class="sidebar-divider my-0">
            <hr class="sidebar-divider">
            <li class="nav-item">
                <a class="nav-link collapsed" href="/admin/panel">
                    <span>Ana Sayfaya Dön</span>
                </a>
            </li>        
      
      
         
         
           
            <hr class="sidebar-divider">


        </ul>

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-dark bg-dark-200 topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%=user.username%>#<%=user.discriminator%></span>
                                <img class="img-profile rounded-circle"
                                    src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in bg-dark-200"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item text-white" href="/user/<%=user.id%>">
                                    <i class="fas fa-user fa-sm fa-fw mr-2"></i>
                                    Profil
                                </a>
                                <a class="dropdown-item text-white" href="/logout" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
                                    Çıkış yap
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

          
           
              
              <center>
              <h2 style="color:#ffffff;">
                 Kod ekle 
              </h2>
              </center>
    
<div id="content" class="main-content">
    <br><br><br><br><br><br>
    <div class="container">


    <form   action="/code/add" method="POST">
      <input type="hidden" value="wd" name="_token" id="_token">

        <div class="form-row mb-4">
          
            <div class="form-group col-md-4">
                <label for="inputState">Kod dili?<span style="color:red">*</span></label>
                <select id="category" name="dil" class="form-control" required>
     <option value="djs">Discord.js</option>
                </select>
            </div>
          
            <div class="form-group col-md-4">
                <label for="inputEmail4">Kod adı<span style="color:red">*</span></label>
                <input type="text" class="form-control" id="codename" name="codename" maxlength="100" placeholder="" required>
            </div>
        
            <div class="form-group col-md-4">
                <label for="inputState">Sahip<span style="color:red">*</span></label>
                <select id="category" name="sahip" class="form-control" required> 
                    <option value="<%=user.id%>"><%=user.id%>(<%=user.username%>)</option>

                </select>
            </div>
         <div class="form-group col-md-4">
             <label for="inputState">Kod açıklaması<span style="color:red">*</span></label>
                 <textarea name="longDesc" id="longDesc" class="form-control" placeholder="HTML Desteklidir." minlength="100" required="required" style="width: 100%; height: 300px;"></textarea>
            </div>
        <div class="form-group col-md-4">
             <label for="inputState">Kod <span style="color:red">*</span></label>
                 <textarea name="code" id="code" class="form-control" placeholder="HTML Desteklidir." minlength="10" required="required" style="width: 100%; height: 300px;"></textarea>
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail4">Altyapı link (önerilen: github)</label>
                <input type="text" class="form-control" id="altyapı" name="altyapı" maxlength="100" placeholder="" >
            </div>
      <br> 
          <b><span style="color:red">*</span></b> işaretli veriler gereklidir <br>
          
      
          
          
            
    
      
 
      
      <button type="submit" class="btn btn-primary mt-3"><i class="fa fa-save"></i> Paylaş</button>
    </form>
</div>
</div></div>
          
            
<%- include('./style/admin.ejs') %>

          

