<!DOCTYPE html>
<html lang="en">
<head>
  <script data-ad-client="ca-pub-9282336401229185" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>  
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://pro.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
    <link href="https://startbootstrap.github.io/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
</head>

<body class="bg-dark" id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <hr class="sidebar-divider my-0">
            <hr class="sidebar-divider">
             <li class="nav-item">
                <a class="nav-link collapsed" href="/admin/panel">
                    <span>Ana Sayfaya Dön</span>
                </a>
            </li>      
      
      

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesss"
                    aria-expanded="true" aria-controls="collapsePagesss">
                    <i class="fas fa-fw fa-code"></i>
                    <span>Kod Paylaşım</span>
                </a>
                <div id="collapsePagesss" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-dark-200 py-2 collapse-inner rounded">
                        <h6 class="collapse-header">TheMechanic's</h6>
                        <a class="bg-dark-200 text-white collapse-item" href="/admin/panel/codes/add">Kod Ekle</a>
                        <a class="bg-dark-200 text-white collapse-item" href="/admin/panel/codes">Kodlar</a>
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider">


        </ul>

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-dark bg-dark-200 topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%=user.username%>#<%=user.discriminator%></span>
                                <img class="img-profile rounded-circle"
                                    src="https://cdn.discordapp.com/avatars/<%=user.id%>/<%=user.avatar%>">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in bg-dark-200"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item text-white" href="/user/<%=user.id%>">
                                    <i class="fas fa-user fa-sm fa-fw mr-2"></i>
                                    Profil
                                </a>
                                <a class="dropdown-item text-white" href="/logout" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2"></i>
                                    Çıkış yap
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <div id="content" class="main-content">
                    <div class="layout-px-spacing">
                
                        <div class="page-header">
                            <nav class="breadcrumb-one" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item active"><a href="javascript:void(0);">Codes</a></li>
                                </ol>
                            </nav>
                        </div>
                        
                        <div class="row layout-top-spacing" id="cancel-row">
                        
                            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                                <div class="widget-content widget-content-area br-6">
                                    <table id="default-ordering" class="table table-hover" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Code Name</th>
                                                <th>Code</th>
                                                <th>Code Category</th>
                                                <th class="text-center dt-no-sorting">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% codedata.map(b => {%>
                                            <tr>
                                                <td><%= b.baslık %></td>
                                                <td><%= b.sahipID %></td>
                                                <td><%= b.ktp %></td>
                                            
                                                <td class="text-center">
                                                    <button onclick="window.location.href='/admin/editcode/<%= b.code %>'" class="btn btn-success btn-sm">Edit</button>
                                                    <button onclick="window.location.href='/admin/deletecode/<%= b.code %>'" class="btn btn-danger btn-sm">Delete</button>
                                                </td>
                                            </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <script>
                            function deletequest(uptimecode) {
                Swal.fire({
                  title: 'Are you sure?',
                  text: "Are you sure you want to permanently delete the link you selected?",
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonText: 'Yes, delete it!',
                  cancelButtonText: 'No, cancel it!',
                  reverseButtons: true
                }).then((result) => {
                  if (result.isConfirmed) {
                    window.location.href = '/admin/deletecode/'+uptimecode;
                  } else {
                    Swal.fire(
                      'Canceled..',
                      'Link deletion from the uptime system has been canceled.',
                      'error'
                    )
                  }
                })
                }
                            var urlParams = new URLSearchParams(window.location.search);
                            if(urlParams.has('success') && urlParams.get('success')){
                            Swal.fire({
                             icon: 'success',
                             title: 'Succesfull...',
                             closeOnConfirm: false,
                             text: urlParams.get('message')
                            }).then((result) => {
                          if (result.isConfirmed) {
                            window.location.href = '/admin/codes';
                          }
                        })
                            }
                            if(urlParams.has('error') && urlParams.get('error')){
                            Swal.fire({
                             icon: 'error',
                             title: 'Oops...',
                             text: urlParams.get('message')
                            }).then((result) => {
                          if (result.isConfirmed) {
                            window.location.href = '/admin/codes';
                          }    
                        })
                            }
                           </script>
                        </div></div>






            
</div>
</div>



</div>

</div>
</div>

    <script src="https://designreset.com/cork/ltr/demo9/assets/js/libs/jquery-3.1.1.min.js"></script>
    <script src="https://designreset.com/cork/ltr/demo9/bootstrap/js/popper.min.js"></script>
    <script src="https://designreset.com/cork/ltr/demo9/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://designreset.com/cork/ltr/demo9/plugins/table/datatable/datatables.js"></script>
        <!-- Bootstrap core JavaScript-->
        <script src="https://startbootstrap.github.io/startbootstrap-sb-admin-2/js/sb-admin-2.min.js"></script>
        <script src="https://startbootstrap.github.io/startbootstrap-sb-admin-2/vendor/chart.js/Chart.min.js"></script>
        <script src="https://startbootstrap.github.io/startbootstrap-sb-admin-2/js/demo/chart-area-demo.js"></script>
        <script src="https://startbootstrap.github.io/startbootstrap-sb-admin-2/js/demo/chart-pie-demo.js"></script>
    <script>        
        $('#default-ordering').DataTable( {
            "dom": "<'dt--top-section'<'row'<'col-12 col-sm-6 d-flex justify-content-sm-start justify-content-center'l><'col-12 col-sm-6 d-flex justify-content-sm-end justify-content-center mt-sm-0 mt-3'f>>>" +
        "<'table-responsive'tr>" +
        "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>",
            "oLanguage": {
                "sInfo": " ",
                "sSearch": ' ',
                "sSearchPlaceholder": "Ara...",
               "sLengthMenu": " ",
            },
            "order": [[ 3, "desc" ]],
            "stripeClasses": [],
            "lengthMenu": 9,
            "pageLength": 9,
            drawCallback: function () { $('.dataTables_paginate > .pagination').addClass(' pagination-style-13 pagination-bordered'); }
        } );
    </script>
<script>
function newtab(url) {
  window.open(url);
}    
</script>

<%- include('./style/admin.ejs') %>